{% extends "rec/base.html" %}

{% block content %}
<form action="" method="POST" autocomplete="off">
    {%csrf_token%}
 
    <h3>Tem certeza que deseja deletar "{{ object.nome }}" ?</h3>
    <br>
    <div class="row">
        <div class="col-md-8">
          <button type="submit" class="btn btn-danger btn-block btn-lg"><i class="fas fa-database"></i> Sim, Deletar!</button>  
        </div>
        <div class="col-md-4">
            <a href="{% url 'convenios_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Não, Cancelar!
            </a>
        </div>
    </div>
    
</form>


{% endblock content %}